.navbar {
    display: none;
}


/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }

    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }

    .value-img {
        margin-bottom: 1rem;
    }

    .example-grid .column,
    .example-grid .columns {
        margin-bottom: 1.5rem;
    }

    .docs-section {
        padding: 6rem 0;
    }

    .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
    }

    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
.navbar + .docs-section {
    border-top-width: 0;
}

.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-spacer {
    display: none;
}

.navbar > .container {
    width: 100%;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-home {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-home:hover {
  color: #222;
}

.navbar-link.active {
    color: #33C3F0;
}

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
}

.has-docked-nav .navbar-spacer {
    display: block;
}

  /* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%;
}

.image {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

.preview {
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
}

.values {
  background-image: url('../images/values-bg.png');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
  background-position: 0px 35%;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

.section {
  margin-top: 0rem;
  padding: 7rem 0 5rem;
  text-align: left;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.categories {
  background-size: cover;
  color: #222;
}
.categories .section-description { 
  margin-bottom: 1rem;
}

.circular {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img {
  width: 100%;
  height: auto;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: 0em;
    background-color: #222;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

red {
  color: #c95050;
}