body {
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
	background-size: cover;
}

h1 {
	text-align: left;
	font-size: 100px;
	font-weight: 800;
}

.content {
	display: flex;
 	margin-top: none;
 	font-family: "Arial Black", Gadget, sans-serif;
 	color: #000000
}

#container {
	display: flex;
	justify-content:center
}

.number {
	color: rgba(255, 255, 255, 1); font-size: 500px;
}